[Unit]
Description=Tizen IoT Demo
After=bluetooth.service

[Service]
User=root
WorkingDirectory=/tmp
ExecStart=/usr/share/tizen-iot-demo/start_service
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
